apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-aux1
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-aux1
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-aux1
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-aux1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-aux1
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-qheb-tenant/rhtap-demo-app/hacbs-test-project-aux1@sha256:cbe91ec935e8f6eca24e6a63f8b6f21ad91532459607175f2e76f6622668a5c8
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
